<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">
    <!-- About Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-white">
      Acerca del proyecto
    </h2>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- About Section Content-->
    <div class="row">
      <div class="col-lg-4 ms-auto">
        <p class="lead">
          Este es un proyecto para la segunda etapa de Argentina Programa,
          #YoProgramo, basado del proyecto original la idea de este proyecto es
          hacer un sistema de portafolios.
        </p>
      </div>
      <div class="col-lg-4 me-auto">
        <p class="lead">
          El objetivo es que cualquier persona que acceda al sistema pueda
          realizar su propio portafolio y ver el de las demas personas que
          posean una cuenta.
        </p>
      </div>
    </div>
    <!-- About Section Button-->
    <div class="text-center mt-4">
      <a
        class="btn btn-xl btn-outline-light"
        href="https://github.com/Leonel-H29/ProyectoIntegrador_HerreraLeonel"
        target="_blank"
      >
        <i class="fas fa-download me-2"></i>
        Ir al repositorio
      </a>
    </div>
  </div>
</section>
