<header class="masthead bg-primary text-white text-center">
  <div
    class="container d-flex align-items-center flex-column"
    *ngIf="persona != undefined"
  >
    <!-- Masthead Avatar Image-->

    <div *ngIf="persona.foto_perfil_url == null; else TemplatePerfil">
      <img
        class="masthead-avatar mb-5"
        id="foto-perfil"
        src="https://cdn-icons-png.flaticon.com/512/1361/1361728.png"
        alt="Foto de perfil"
        title="Foto de perfil"
      />
    </div>
    <ng-template #TemplatePerfil>
      <a href="{{ persona.foto_perfil_url }}" target="_blank">
        <img
          src="{{ persona.foto_perfil_url }}"
          class="masthead-avatar mb-5"
          id="foto-perfil"
          alt="Foto de perfil"
          title="Foto de perfil"
        />
      </a>
    </ng-template>

    <!-- Masthead Heading-->
    <h1 class="masthead-heading text-uppercase mb-0">
      {{ persona.nombre }} {{ persona.apellido }}
    </h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Masthead Subheading-->
    <!--
    <p class="masthead-subheading font-weight-light mb-0">
      Full Stack Develloper Jr
    </p>
    -->
    <h1>Acerca de mi</h1>
    <p class="description">
      {{ persona.descripcion }}
    </p>
  </div>
</header>
