<div class="container d-flex align-items-center flex-column">
  <!-- Masthead Avatar Image-->
  <img
    class="masthead-avatar mb-5"
    src="../../../../assets/resourses/img/perfil.jpg"
    alt="Foto de perfil"
    title="Foto de perfil"
  />
  <ul>
    <li *ngFor="let per of listPersona">{{ per.nombre }} {{ per.apellido }}</li>
  </ul>
  <!-- {{ listPersona }} -->

  <!-- Masthead Heading-->
  <h1 class="masthead-heading text-uppercase mb-0">LEONEL ESTEBAN HERRERA</h1>
  <!-- Icon Divider-->
  <div class="divider-custom divider-light">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
    <div class="divider-custom-line"></div>
  </div>
  <!-- Masthead Subheading-->
  <p class="masthead-subheading font-weight-light mb-0">
    Full Stack Develloper Jr
  </p>
  <h1>Acerca de mi</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra metus
    non aliquam tempus. Sed suscipit massa a felis faucibus, eget tempus tortor
    consequat. Ut ut consectetur magna, sit amet varius nulla. Curabitur aliquam
    convallis lacinia. Suspendisse eros magna, eleifend luctus nunc et,
    malesuada efficitur diam. Vivamus id elit et mauris convallis porttitor. In
    hac habitasse platea dictumst. Donec fringilla non mauris ac malesuada. Ut
    felis ligula, interdum non tincidunt vitae, accumsan quis metus.
    Pellentesque aliquam efficitur urna ut fringilla. In scelerisque finibus
    quam, non pulvinar neque interdum ac. Quisque tincidunt mollis mi, et
    condimentum nisl. Class aptent taciti sociosqu ad litora torquent per
    conubia nostra, per inceptos himenaeos. Integer metus dolor, sollicitudin at
    tristique ut, laoreet ut ligula. Mauris accumsan orci a leo auctor convallis
    et vel diam. Ut id iaculis odio.
  </p>
</div>
