documents/*.zip
documents/*.rar
documents/*.rar5
documents/*.7z
documents/*.ace
documents/*.r00 
documents/*.r01
documents/*.gz
documents/*.tar.bz2
nginx/
.vscode/
database/
.git/
.gitignore
comandos.txt
