<section class="page-section portfolio" id="portfolio">
  <div class="container">
    <!-- Portfolio Section Heading-->
    <h2
      class="page-section-heading text-center text-uppercase text-secondary mb-0"
    >
      Experiencia
    </h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <button
      type="button"
      class="btn btn-outline-dark"
      title="Agregar experiencia"
      routerLink="/createexp"
      *ngIf="isLogged"
    >
      <i class="fa-solid fa-circle-plus"></i>
    </button>

    <div *ngFor="let Experiencia of expe">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ Experiencia.nombre_empresa }}</h5>
          <div></div>
          <h6
            class="card-subtitle mb-2 text-muted"
            *ngIf="Experiencia.fecha_fin == null; else TemplateFechaFin"
          >
            Desde: {{ Experiencia.fecha_inicio }}
          </h6>
          <!--
          <h6
            class="card-subtitle mb-2 text-muted"
          >
            Tipo Empleo: {{ Experiencia.idtipo_empleo }}
          </h6>
          ---->

          <p class="card-text" *ngIf="Experiencia.descripcion != null">
            {{ Experiencia.descripcion }}
          </p>

          <ng-template #TemplateFechaFin>
            <h6 class="card-subtitle mb-2 text-muted">
              Desde: {{ Experiencia.fecha_inicio }} - Hasta:
              {{ Experiencia.fecha_fin }}
            </h6>
          </ng-template>

          <div class="d-grid gap-2 col-1 mx-auto" *ngIf="isLogged">
            <button
              class="btn btn-primary"
              type="button"
              title="Editar"
              routerLink="/editexp/{{ Experiencia.idexperiencia }}"
            >
              <i class="fa-regular fa-pen-to-square"></i><b> Editar</b>
            </button>
            <button
              class="btn btn-primary"
              type="button"
              title="Eliminar"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              (click)="getExperienciaAEliminar(Experiencia)"
            >
              <i class="fa-solid fa-trash"></i><b> Eliminar</b>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Eliminar experiencia
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body" *ngIf="experienciaAeliminar != undefined">
          ¿Esta seguro de eliminar la experiencia
          {{ experienciaAeliminar.nombre_empresa }}?
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            title="Cerrar"
          >
            Cerrar
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="DeleteExperiencia(experienciaAeliminar.idexperiencia)"
            title="Eliminar"
          >
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
