<app-header></app-header>
<header class="masthead text-center">
  <div class="container d-flex align-items-center flex-column">
    <h1>BIENVENIDO {{ usuario }}</h1>
  </div>
  <ul>
    <li *ngFor="let per of listPersona">
      <div *ngIf="per.foto_perfil_url == null; else TemplatePerfil">
        <img
          src="https://cdn-icons-png.flaticon.com/512/1361/1361728.png"
          style="width: 6rem; height: 6rem"
          alt="Foto de perfil"
          title="Foto de perfil"
        />
      </div>
      <ng-template #TemplatePerfil>
        <img
          src="{{ per.foto_perfil_url }}"
          style="width: 6rem; height: 6rem"
          alt="Foto de perfil"
          title="Foto de perfil"
        />
      </ng-template>
      <a [routerLink]="['perfil/', per.idpersona]"
        >{{ per.nombre }} {{ per.apellido }}</a
      >
    </li>
  </ul>
</header>
<app-footer></app-footer>

<!-- {{ listPersona }} -->
