<header class="masthead text-center">
  <div class="container">
    <!-- Contact Section Heading-->
    <h2 id="title-login">LOGIN</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- Seccion del formulario-->
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xl-7">
        <form id="contactForm" (ngSubmit)="onLogin()" novalidate #f="ngForm">
          <!--USERNAME-->
          <div class="form-floating mb-3">
            <input
              type="text"
              id="username"
              name="username"
              class="form-control"
              placeholder="Username"
              required
              autofocus
              [(ngModel)]="username"
            />
            <label for="username">Username</label>
          </div>
          <div class="input-group">
            <div class="form-floating mb-3">
              <input
                type="{{ typeInputPass }}"
                id="password"
                name="password"
                class="form-control"
                placeholder="Password"
                required
                [(ngModel)]="password"
              />
              <label for="password">Password</label>
            </div>
            &nbsp;
            <!-- Show Password Button-->
            <div *ngIf="!showPassword; else ButtonHiddenPass">
              <button
                class="btn btn-outline-secondary mb-3"
                type="button"
                id="button-password"
                title="Mostrar contraseña"
                (click)="showPass()"
              >
                <i class="fa-regular fa-eye-slash"></i>
              </button>
            </div>
          </div>
          <ng-template #ButtonHiddenPass>
            <button
              class="btn btn-outline-secondary mb-3"
              type="button"
              id="button-password"
              title="Mostrar contraseña"
              (click)="hiddenPass()"
            >
              <i class="fa-regular fa-eye-slash"></i>
            </button>
          </ng-template>

          <!-- Submit Button-->
          <div *ngIf="!IsLoadding; else ButtonLoadding">
            <button
              class="btn btn-primary btn-xl"
              id="submitButton"
              type="submit"
              title="Login"
            >
              LOGIN
            </button>
          </div>
          <ng-template #ButtonLoadding>
            <button class="btn btn-primary btn-xl" id="submitButton" disabled>
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
              LOADING...
            </button>
          </ng-template>
        </form>
      </div>
    </div>
    <div class="option-login">
      <h4>¿No recuerda su contraseña?</h4>
      <a
        routerLink="/retrievepass"
        title="Recuperar contraseña"
        class="forgot-password"
      >
        Recuperar contraseña
      </a>

      <h4>¿No tiene su cuenta aun?</h4>
      <a
        routerLink="/createaccount"
        title="Crear Cuenta"
        class="forgot-password"
      >
        Crear Cuenta
      </a>
    </div>
  </div>
</header>
<app-footer></app-footer>
