<div class="container">
  <div class="card card-container">
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin" #f="ngForm" (ngSubmit)="onCreate()" novalidate>
      <span id="reauth-email" class="reauth-email"></span>

      <h2>CREAR CUENTA</h2>
      <h6>Los campos (*) son obligatorios</h6>

      <!--NOMBRE-->
      <label for="nombre"><b>*Nombre</b></label>
      <input
        [(ngModel)]="nombre"
        type="text"
        id="nombre"
        name="nombre"
        class="form-control"
        placeholder="Nombre"
        required
        autofocus
      />
      <!--APELLIDO-->
      <label for="apellido"><b>*Apellido</b></label>
      <input
        [(ngModel)]="apellido"
        type="text"
        id="apellido"
        name="apellido"
        class="form-control"
        placeholder="Apellido"
        required
        autofocus
      />
      <!--DESCRIPCION-->
      <label for="descripcion"> <b>Descripcion</b> </label>
      <textarea
        [(ngModel)]="descripcion"
        type="text"
        id="descripcion"
        name="descripcion"
        class="form-control"
        placeholder="Descripcion"
        required
        autofocus
      ></textarea>

      <!--PROVINCIA-->
      <label for="provincia"><b>*Provincia</b> </label>
      <input
        [(ngModel)]="provincia"
        type="text"
        id="provincia"
        name="provincia"
        class="form-control"
        placeholder="Provincia"
        required
        autofocus
      />

      <!--PAIS-->
      <label for="pais"> <b>*Pais</b></label>
      <input
        [(ngModel)]="pais"
        type="text"
        id="pais"
        name="pais"
        class="form-control"
        placeholder="Pais"
        required
        autofocus
      />

      <!--CODIGO POSTAL-->
      <label for="codigo_postal"> <b>*Codigo Postal</b></label>
      <input
        [(ngModel)]="codigo_postal"
        type="number"
        id="codigo_postal"
        name="codigo_postal"
        class="form-control"
        placeholder="Codigo Postal"
        required
        autofocus
      />

      <!--FECHA DE NACIMIENTO-->
      <label for="fecha_nacimiento"> <b>*Fecha de Nacimiento</b></label>
      <input
        [(ngModel)]="fecha_nacimiento"
        type="date"
        id="fecha_nacimiento"
        name="fecha_nacimiento"
        class="form-control"
        placeholder="Fecha de Nacimiento"
        required
        autofocus
      />

      <!--TELEFONO-->
      <label for="telefono"> <b>Telefono</b> </label>
      <input
        [(ngModel)]="telefono"
        type="text"
        id="telefono"
        name="telefono"
        class="form-control"
        placeholder="Telefono"
        required
        autofocus
      />

      <!--EMAIL-->
      <label for="correo"> <b>*Correo</b> </label>
      <input
        [(ngModel)]="correo"
        type="email"
        name="email"
        id="inputEmail"
        class="form-control"
        placeholder="Email address"
        required
        autofocus
      />

      <!--CONFIRM EMAIL-->
      <label for="confirm_correo"> <b>*Confirmar Correo</b></label>
      <input
        [(ngModel)]="confirm_correo"
        type="email"
        name="email"
        id="inputEmail"
        class="form-control"
        placeholder="Confirm Email"
        required
        autofocus
      />

      <!--USERNAME-->
      <label for="username"><b>*Username</b></label>
      <input
        [(ngModel)]="username"
        type="text"
        id="username"
        name="username"
        class="form-control"
        placeholder="Username"
        required
        autofocus
      />

      <!--PASSWORD -->
      <label for="password"><b>*Password</b></label>
      <input
        [(ngModel)]="password"
        type="password"
        id="password"
        name="password"
        class="form-control"
        placeholder="Password"
        required
      />

      <!--CONFIRM PASSWORD -->
      <label for="confirm_password"><b>*Confirmar Password</b></label>
      <input
        [(ngModel)]="confirm_password"
        type="password"
        id="password"
        name="password"
        class="form-control"
        placeholder="Confirm  Password"
        required
      />

      <!--FOTO DE PERFIL-->
      <label for="foto_perfil_url"><b>*Foto de perfil</b></label>
      <input
        [(ngModel)]="foto_perfil_url"
        type="file"
        id="foto_perfil_url"
        name="foto_perfil_url"
        class="form-control"
        placeholder="Foto de perfil"
        required
        autofocus
        (change)="uploadImage($event)"
        accept=".jpg, .jpef, .png"
      />

      <div class="imagen">
        <img
          class="profile-img-card"
          [src]="imgService.url"
          alt="Foto de perfil"
          title="Foto de perfil"
          srcset=""
        />
      </div>

      <button
        class="btn btn-lg btn-primary btn-block btn-signin"
        type="submit"
        title="Crear cuenta"
      >
        CREAR CUENTA
      </button>
    </form>
  </div>
</div>
