<app-header></app-header>
<header class="masthead text-center">
  <div class="container">
    <!-- Contact Section Heading-->
    <h2
      class="page-section-heading text-center text-uppercase text-secondary mb-0"
    >
      Editar Hard & Soft Skill
    </h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Contact Section Form-->
    <div class="row justify-content-center" *ngIf="hardS != undefined">
      <div class="col-lg-8 col-xl-7">
        <form id="contactForm" (ngSubmit)="onUpdate()" novalidate #f="ngForm">
          <!-- Id hard skill -->
          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="idhs"
              name="idhs"
              type="text"
              [(ngModel)]="hardS.idskill"
              disabled="true"
            />
            <label for="name">ID</label>
          </div>

          <!-- Id Persona-->

          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="idPersona"
              name="idPersona"
              type="number"
              data-sb-validations="required"
              [(ngModel)]="hardS.persona"
              disabled="true"
            />
            <label for="name">Persona</label>
          </div>
          <!-- Skill-->
          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="Nskill"
              name="Nskill"
              type="text"
              placeholder="Ingrese el nombre de la empresa"
              data-sb-validations="required"
              [(ngModel)]="hardS.skill"
            />
            <label for="Nskill">Skill</label>
            <div class="invalid-feedback" data-sb-feedback="Nskill:required">
              Este campo es obligatorio
            </div>
          </div>

          <!-- Porcentaje -->
          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="Nporcentaje"
              type="number"
              placeholder="Escriba una descripcion"
              style="height: 10rem"
              [(ngModel)]="hardS.porcentaje"
              name="Nporcentaje"
            />
            <label for="Nporcentaje">Porcentaje</label>
          </div>

          <!-- Submit success message-->
          <!---->
          <!-- This is what your users will see when the form-->
          <!-- has successfully submitted-->
          <div class="d-none" id="submitSuccessMessage">
            <div class="text-center mb-3">
              <div class="fw-bolder">Form submission successful!</div>
              To activate this form, sign up at
              <br />
              <a href="https://startbootstrap.com/solution/contact-forms"
                >https://startbootstrap.com/solution/contact-forms</a
              >
            </div>
          </div>
          <!-- Submit error message-->
          <!---->
          <!-- This is what your users will see when there is-->
          <!-- an error submitting the form-->
          <div class="d-none" id="submitErrorMessage">
            <div class="text-center text-danger mb-3">
              Error sending message!
            </div>
          </div>
          <!-- Submit Button-->
          <button
            class="btn btn-primary btn-xl"
            id="submitButton"
            type="submit"
            title="Enviar"
          >
            ENVIAR
          </button>
        </form>
      </div>
    </div>
  </div>
</header>
<app-footer></app-footer>
