<section class="page-section portfolio" id="portfolio">
  <div class="container">
    <!-- Portfolio Section Heading-->
    <h2
      class="page-section-heading text-center text-uppercase text-secondary mb-0"
    >
      Educacion
    </h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <button
      type="button"
      class="btn btn-outline-dark"
      title="Agregar educacion"
      routerLink="/createexp/{{ Persona.idpersona }}"
      *ngIf="isLogged && Persona != undefined"
    >
      <i class="fa-solid fa-circle-plus"></i>
    </button>

    <div *ngFor="let Educacion of educ">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{ Educacion.nombre_institucion }}</h3>
          <div></div>
          <h6
            class="card-subtitle mb-2 text-muted"
            *ngIf="Educacion.fecha_fin == null; else TemplateFechaFin"
          >
            Desde: {{ Educacion.fecha_inicio| date:'dd/MM/y' }}
          </h6>
          <!--
          <h6
            class="card-subtitle mb-2 text-muted"
          >
            Tipo Empleo: {{ Educacion.idtipo_empleo }}
          </h6>
          ---->

          <p class="card-text" *ngIf="Educacion.descripcion != null">
            {{ Educacion.descripcion }}
          </p>

          <ng-template #TemplateFechaFin>
            <h6 class="card-subtitle mb-2 text-muted">
              Desde: {{ Educacion.fecha_inicio | date:'dd/MM/y' }} - Hasta:
              {{ Educacion.fecha_fin | date:'dd/MM/y' }}
            </h6>
          </ng-template>

          <div class="d-grid gap-2 col-1 mx-auto" *ngIf="isLogged">
            <button
              class="btn btn-primary"
              type="button"
              title="Editar"
              routerLink="/editexp/{{ Educacion.ideducacion }}"
            >
              <i class="fa-regular fa-pen-to-square"></i><b> Editar</b>
            </button>
            <button
              class="btn btn-primary"
              type="button"
              title="Eliminar"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              (click)="getEducacionAEliminar(Educacion)"
            >
              <i class="fa-solid fa-trash"></i><b> Eliminar</b>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
