<app-header></app-header>
<header class="masthead text-center">
  <div class="container" *ngIf="hasPermission && isLogged">
    <nav class="nav nav-pills justify-content-center flex-column flex-sm-row">
      <a
        class="nav-link"
        title="Datos personales"
        routerLink="/editper/{{ idPersonaLogged }}"
        >Datos personales</a
      >
      <a class="nav-link active" aria-current="page" title="Redes"
        >Redes Sociales</a
      >
    </nav>
    <!-- Contact Section Heading-->
    <h2>EDITAR REDES</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- Formulario para buscar el usuario-->
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xl-7">
        <form id="contactForm" (ngSubmit)="onUpdate()" novalidate #f="ngForm">
          <!-- Usuario-->
          <div class="form-floating mb-3" [hidden]="true">
            <input
              class="form-control"
              id="idPersona"
              name="idPersona"
              type="number"
              data-sb-validations="required"
              [(ngModel)]="Persona.idpersona"
              disabled="true"
            />
            <label for="name">Persona</label>
          </div>
          <!--Facebook-->
          <div class="form-floating mb-3">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                ><i class="fa-brands fa-facebook"></i
              ></span>
              <input
                type="text"
                class="form-control"
                name="Facebook"
                placeholder="Link de Facebook"
                aria-describedby="basic-addon1"
                [(ngModel)]="DataFacebook.url_red"
              />
              <label for="Facebook"> | Facebook</label>
            </div>
          </div>
          <!--Instagram-->
          <div class="form-floating mb-3">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa-brands fa-instagram"></i>
              </span>
              <input
                type="text"
                class="form-control"
                name="Instagram"
                placeholder="Link de Instagram"
                aria-describedby="basic-addon1"
                [(ngModel)]="DataInstagram.url_red"
              />
              <label for="Twitter">| Instagram</label>
            </div>
          </div>
          <!--Twitter-->
          <div class="form-floating mb-3">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa-brands fa-twitter"></i>
              </span>
              <input
                type="text"
                class="form-control"
                name="Twitter"
                placeholder="Link de Twitter"
                aria-describedby="basic-addon1"
                [(ngModel)]="DataTwitter.url_red"
              />
              <label for="Twitter">| Twitter</label>
            </div>
          </div>
          <!--Linkedin-->
          <div class="form-floating mb-3">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa-brands fa-linkedin"></i>
              </span>
              <input
                type="text"
                class="form-control"
                name="Linkedin"
                placeholder="Link de Linkedin"
                aria-describedby="basic-addon1"
                [(ngModel)]="DataLinkedin.url_red"
              />
              <label for="Linkedin">| Linkedin</label>
            </div>
          </div>
          <!--GitHub-->
          <div class="form-floating mb-3">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa-brands fa-github"></i>
              </span>
              <input
                type="text"
                name="GitHub"
                class="form-control"
                placeholder="Link de GitHub"
                aria-describedby="basic-addon1"
                [(ngModel)]="DataGithub.url_red"
              />
              <label for="GitHub"> | GitHub</label>
            </div>
          </div>

          <br />

          <!-- Submit Button-->
          <div *ngIf="!IsLoadding; else ButtonLoadding">
            <button
              class="btn btn-primary btn-xl"
              id="submitButton"
              type="submit"
              title="Enviar"
            >
              ENVIAR
            </button>
          </div>

          <ng-template #ButtonLoadding>
            <button class="btn btn-primary btn-xl" id="submitButton" disabled>
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
              ENVIANDO...
            </button>
          </ng-template>
        </form>
      </div>
    </div>
  </div>
</header>
<app-footer></app-footer>
