<!-- Footer-->
<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <!-- Footer Location-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Localizacion</h4>
        <p class="lead mb-0">
          San Miguel de Tucuman - Tucuman
          <br />
          Argentina
        </p>
      </div>
      <!-- Footer Social Icons-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Sitios Oficiales</h4>
        <!--
        <a class="btn btn-outline-light btn-social mx-1" href="#!"
          ><i class="fab fa-fw fa-facebook-f"></i
        ></a>
          -->
        <a
          class="btn btn-outline-light btn-social mx-1"
          title="Ir a instagram"
          href="https://instagram.com/leonel_dkno29"
          target="_blank"
          ><i class="fab fa-fw fa-instagram"></i
        ></a>

        <a
          class="btn btn-outline-light btn-social mx-1"
          title="Ir a twitter"
          href="https://twitter.com/leonel_dkno29"
          target="_blank"
          ><i class="fab fa-fw fa-twitter"></i
        ></a>
        <a
          class="btn btn-outline-light btn-social mx-1"
          title="Ir a linkedin"
          href="https://www.linkedin.com/in/leonel-herrera-867659129/"
          target="_blank"
          ><i class="fab fa-fw fa-linkedin-in"></i
        ></a>
        <a
          class="btn btn-outline-light btn-social mx-1"
          title="Ir al repositorio"
          href="https://github.com/Leonel-H29"
          target="_blank"
          ><i class="fa-brands fa-github"></i
        ></a>
      </div>
      <!-- Footer About Text-->

      <div class="col-lg-4">
        <h4 class="text-uppercase mb-4">CONTACTO</h4>
        <p class="lead mb-0">
          Por cualquier novedad puede comunicarse al siguiente correo
          <a href="mailto:leonelherreradkno@gmail.com" id="link_correo"
            >leonelherreradkno@gmail.com</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
  <div class="container">
    <small>Copyright &copy; Leonel Esteban Herrera 2022 #YoProgramo</small>
  </div>
</div>
